{% extends 'base.html' %}

{% block content %}

<h1><span class="blue-text">{{ toy.name }}</span>'s Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title"><span class="{{ toy.color }}-text">{{ toy.color }}</span> {{ toy.name }}</span>
        <p>Description: {{ toy.description }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'toy_update' toy.id %}">Edit</a>
        <a href="{% url 'toy_delete' toy.id %}">Delete</a>
    </div>
</div>

{% endblock %}